<% include header.ejs %>
<script>
var socket = io.connect('http://localhost:3000');
socket.on('timer', function (data) {
    $('#counter').html(data.countdown);
});
socket.on('message', function (data) {

 $('#messages').text(data);
 if(data === "go"){
   window.location.replace("/end");
 }


});
</script>



  <h1><%=team %></h1>
  <p>Welcome to the Quiz</p>
  <h2>Quiz : <%= questions.data[0].Quiz %></h2>
  <form class="" action="/answer" method="post">


    <% include question.ejs %>
    <input readonly type="hidden" name="teamname" value="<%= team %>">
    <input readonly type="hidden" name="qnum" value="<%= questions.data[0].qnum %>">
    <input readonly type="hidden" name="answer" value="<%= questions.data[0].answer %>">
    <input readonly type="hidden" name="limit" value="<%= limit %>">
    <input readonly type="hidden" name="Quiz" value="<%= questions.data[0].Quiz %>">
    <div class="hidden" id="messages">
    </div>
    <br>
  <br />
  <!--
  <a type="submit" href="#" class="btn btn-success btn-lg">Submit</a>
  -->
  <button type="submit" class="btn btn-success btn-lg">Submit</button>

  </form>
  <!--
  <a id="btn-next" href="/team1/<%= (questions.data[0].qnum == limit)?questions.data[0].qnum:questions.data[0].qnum + 1 %>" class="btn btn-success btn-lg pull-right">Next</a>

  -->
<% include footer.ejs %>
